In [1]:
# Web Scraping
from requests import get
from bs4 import BeautifulSoup

# Data
import pandas as pd
from pprint import pprint
from collections import defaultdict

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
CURRENT_YEAR = 2021
POS_DICT = {'QB':1,'RB':1,'WR':2,'TE':1,'C':1,'G':2,'T':2,'DT':2,'DE':2,'LB':3,
             'DB':4}

In [3]:
# POSITIONAL SPENDING PER TEAM
# https://overthecap.com/positional-spending/
URL = 'https://overthecap.com/positional-spending/'
response = get(URL)
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find_all('table')
df = pd.read_html(str(table))[CURRENT_YEAR-2013]
df

,Team,QB,RB,WR,TE,OL,Offense,IDL,EDGE,LB,S,CB,Defense
0,Browns,"$18,682,463","$11,476,969","$38,683,182","$17,525,258","$52,524,578","$138,892,450","$8,084,368","$19,258,579","$6,699,177","$10,849,707","$16,619,496","$61,511,327"
1,Cowboys,"$24,843,787","$15,500,915","$33,253,422","$8,611,707","$36,280,127","$118,489,958","$11,792,447","$30,206,942","$16,523,018","$7,957,512","$16,045,074","$82,524,993"
2,Buccaneers,"$11,470,588","$8,418,567","$39,036,499","$16,433,000","$36,742,114","$112,100,768","$21,307,605","$18,843,760","$13,306,056","$5,976,082","$8,255,097","$67,688,600"
3,Packers,"$40,016,425","$7,838,364","$25,812,138","$9,521,863","$25,075,978","$108,264,768","$18,547,728","$29,922,350","$4,312,430","$12,546,837","$12,361,050","$77,690,395"
4,Colts,"$22,023,066","$9,363,800","$20,126,345","$12,103,265","$43,934,723","$107,551,199","$32,839,199","$6,336,630","$9,764,424","$6,839,520","$21,117,649","$76,897,422"
5,Titans,"$31,200,000","$15,456,770","$8,859,055","$7,377,059","$43,567,786","$106,460,670","$8,413,187","$16,930,837","$9,538,205","$18,663,642","$11,766,910","$65,312,781"
6,Jets,"$1,808,816","$4,756,336","$40,364,244","$10,029,579","$43,917,565","$100,876,540","$20,434,900","$17,296,923","$16,476,063","$17,051,353","$6,544,693","$77,803,932"
7,Texans,"$22,113,529","$13,464,705","$25,764,320","$7,368,048","$30,940,103","$99,650,705","$17,636,652","$14,886,722","$20,417,499","$12,608,208","$28,320,275","$93,869,356"
8,Falcons,"$26,912,500","$3,957,891","$34,882,131","$5,294,914","$25,964,921","$97,012,357","$28,673,915","$13,754,166","$13,198,531","$4,204,228","$10,044,755","$69,875,595"
9,Seahawks,"$34,427,500","$8,764,806","$13,773,094","$6,690,177","$32,977,798","$96,633,375","$6,591,765","$15,246,158","$21,922,874","$19,612,522","$9,436,479","$72,809,798"
10,49ers,"$28,950,000","$8,068,334","$13,603,642","$8,713,493","$35,030,910","$94,366,379","$10,747,953","$37,853,938","$6,931,976","$19,815,358","$12,964,206","$88,313,431"
11,Giants,"$10,062,788","$15,739,102","$21,362,790","$15,975,500","$30,721,326","$93,861,506","$23,484,598","$8,654,146","$12,628,988","$17,639,771","$26,585,296","$88,992,799"
12,Raiders,"$26,650,000","$11,507,897","$15,278,836","$9,649,598","$29,636,965","$92,723,296","$13,153,750","$29,008,516","$21,065,500","$9,995,144","$10,438,609","$83,661,519"
13,Washington,"$13,761,250","$6,246,804","$14,811,031","$7,526,666","$50,353,545","$92,699,296","$24,698,612","$13,274,677","$9,810,452","$21,499,756","$24,514,667","$93,798,164"
14,Bills,"$11,115,796","$6,059,859","$32,190,593","$3,607,183","$38,702,477","$91,675,908","$21,133,387","$22,991,249","$25,012,978","$15,972,262","$13,389,493","$98,499,369"
15,Saints,"$22,974,000","$11,822,500","$17,193,923","$3,832,591","$35,453,579","$91,276,593","$11,305,001","$15,683,673","$10,962,604","$17,162,000","$17,736,492","$72,849,770"
16,Cardinals,"$12,191,221","$5,688,768","$25,389,815","$4,866,250","$41,382,389","$89,518,443","$22,425,415","$35,858,035","$17,171,728","$13,930,772","$7,481,454","$96,867,404"
17,Chargers,"$7,810,281","$8,305,086","$36,191,284","$7,640,000","$29,343,665","$89,290,316","$17,266,115","$28,866,966","$7,020,163","$6,059,484","$22,265,000","$81,477,728"
18,Dolphins,"$12,540,781","$5,858,841","$40,450,650","$10,183,185","$18,203,158","$87,236,615","$15,809,246","$9,937,991","$16,434,300","$18,216,048","$38,207,773","$98,605,358"
19,Bears,"$11,666,666","$7,116,577","$27,026,089","$13,232,224","$27,738,942","$86,780,498","$26,431,889","$32,707,418","$14,643,595","$10,697,500","$8,248,610","$92,729,012"
20,Eagles,"$3,601,958","$5,344,481","$16,774,560","$16,211,044","$43,732,121","$85,664,164","$37,887,939","$20,548,398","$7,779,614","$7,706,028","$13,789,478","$87,711,457"
21,Broncos,"$10,512,042","$14,180,431","$16,728,541","$5,062,263","$36,859,876","$83,343,153","$13,431,668","$32,607,213","$8,164,940","$13,095,294","$26,603,950","$93,903,065"
22,Patriots,"$7,212,557","$8,103,544","$19,839,341","$16,732,377","$30,674,593","$82,562,412","$14,429,708","$18,813,626","$17,664,421","$28,713,711","$33,918,368","$113,539,834"
23,Jaguars,"$3,832,167","$7,016,082","$12,837,334","$5,334,740","$52,735,550","$81,755,873","$16,768,411","$14,396,138","$31,026,374","$13,498,251","$19,966,212","$95,655,386"
24,Chiefs,"$10,378,381","$6,461,409","$26,703,287","$11,187,500","$26,190,089","$80,920,666","$19,009,977","$29,993,415","$16,661,344","$23,952,601","$7,651,490","$97,268,827"
25,Vikings,"$32,320,000","$7,018,582","$12,342,552","$13,399,152","$15,713,560","$80,793,846","$14,797,871","$22,153,202","$23,625,820","$14,057,941","$18,179,418","$92,814,252"
26,Panthers,"$7,370,230","$10,699,500","$22,409,509","$6,662,498","$33,263,469","$80,405,206","$14,061,994","$11,315,490","$15,422,921","$14,310,832","$9,065,669","$64,176,906"
27,Steelers,"$28,907,867","$2,906,125","$10,143,563","$9,586,631","$28,230,794","$79,774,980","$29,377,534","$15,419,091","$11,006,306","$7,566,720","$20,648,545","$84,018,196"
28,Rams,"$22,295,000","$4,117,460","$18,009,298","$10,118,283","$22,968,906","$77,508,947","$25,630,462","$9,191,295","$6,061,495","$6,329,244","$16,479,265","$63,691,761"
29,Bengals,"$10,385,033","$11,131,967","$15,773,645","$9,900,051","$29,108,626","$76,299,322","$23,230,605","$17,320,390","$5,690,520","$12,213,926","$32,337,330","$90,792,771"
30,Ravens,"$4,683,880","$6,381,559","$13,240,944","$12,507,939","$28,566,326","$65,380,648","$37,067,271","$6,383,327","$7,310,441","$9,287,450","$32,862,311","$92,910,800"
31,Lions,"$13,900,000","$5,635,022","$10,698,573","$8,334,955","$25,908,734","$64,477,284","$10,002,677","$30,143,408","$14,591,006","$7,581,392","$11,658,453","$73,976,936"

In [4]:
# TEAM SALARIES
# https://www.spotrac.com/nfl/los-angeles-chargers/cap/
BASE_URL = 'https://www.spotrac.com/nfl/'
TEAM = 'miami-dolphins'

In [5]:
response = get(BASE_URL + TEAM + '/cap')
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find_all('table')
df = pd.read_html(str(table))[0]
df

,Active Players (79),Pos.,Cap Hit,Base Salary,Signing Bonus,Roster Bonus,Option Bonus,Workout Bonus,Restruc. Bonus,Misc.,Dead Cap,Cap Hit.1,Cap %
0,Byron Jones,CB,"$16,100,000","$14,000,000","$2,100,000",NaN,NaN,NaN,NaN,NaN,"($28,400,000)","$16,100,000",8.16
1,Xavien Howard,CB,"$13,500,000","$12,075,000","$1,400,000",NaN,NaN,"$25,000",NaN,NaN,"($16,275,000)","$13,500,000",6.85
2,DeVante Parker,WR,"$12,086,754","$7,750,000","$1,900,000","$411,754","$800,000","$100,000",NaN,"$1,125,000","($15,850,000)","$12,086,754",6.13
3,Will Fuller,WR,"$10,566,776","$931,765","$9,635,011",NaN,NaN,NaN,NaN,NaN,"($10,566,776)","$10,566,776",5.36
4,Emmanuel Ogbah,DE,"$7,500,000","$7,475,000",NaN,NaN,NaN,"$25,000",NaN,NaN,NaN,"$7,500,000",3.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Reid Sinnett,QB,"$660,000","$660,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$660,000",0.33
76,Rex Sunahara,LS,"$660,000","$660,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$660,000",0.33
77,Jomal Wiltz,CB,"$660,000","$660,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$660,000",0.33
78,Al Johnson,C,"$130,882","$177,941",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$130,882",0.07
79,Active Roster:,NaN,"$192,579,327","$138,531,719","$39,594,429","$12,005,239","$800,000","$700,000",-,"$2,375,000",-,"$192,579,327",97.66

In [34]:
df=df[[df.columns[0], 'Pos.', 'Cap Hit', 'Cap %']]
df['Cap Hit'] = [i for i in df['Cap Hit'].replace('[\$, ]', '', regex=True).astype(float)]
df

   Active Players (79) Pos.      Cap Hit  Cap %
0          Byron Jones   CB   16100000.0   8.16
1        Xavien Howard   CB   13500000.0   6.85
2       DeVante Parker   WR   12086754.0   6.13
3          Will Fuller   WR   10566776.0   5.36
4       Emmanuel Ogbah   DE    7500000.0   3.80
..                 ...  ...          ...    ...
75        Reid Sinnett   QB     660000.0   0.33
76        Rex Sunahara   LS     660000.0   0.33
77         Jomal Wiltz   CB     660000.0   0.33
78          Al Johnson    C     130882.0   0.07
79      Active Roster:  NaN  192579327.0  97.66

[80 rows x 4 columns]

In [53]:
df=df.dropna()
df

   Active Players (79) Pos.     Cap Hit  Cap %
0          Byron Jones   CB  16100000.0   8.16
1        Xavien Howard   CB  13500000.0   6.85
2       DeVante Parker   WR  12086754.0   6.13
3          Will Fuller   WR  10566776.0   5.36
4       Emmanuel Ogbah   DE   7500000.0   3.80
..                 ...  ...         ...    ...
74       Tyshun Render   DE    660000.0   0.33
75        Reid Sinnett   QB    660000.0   0.33
76        Rex Sunahara   LS    660000.0   0.33
77         Jomal Wiltz   CB    660000.0   0.33
78          Al Johnson    C    130882.0   0.07

[79 rows x 4 columns]

In [54]:
df2 = df.sort_values('Cap Hit', ascending=False).drop_duplicates(['Pos.'])
df2

    Active Players (79) Pos.       Cap Hit  Cap %
54       Blake Ferguson   LS  8.276125e+10   0.42
56        Malcolm Perry   RB  7.988722e+10   0.41
64   Jonathan Ledbetter   DE  6.650005e+09   0.34
0           Byron Jones   CB  1.610000e+07   8.16
2        DeVante Parker   WR  1.208675e+07   6.13
5   Benardrick McKinney  ILB  7.176468e+06   3.64
6          Bobby McCain   FS  7.140000e+06   3.62
7        Tua Tagovailoa   QB  6.880781e+06   3.49
8             Eric Rowe   SS  6.050000e+06   3.07
12          Jesse Davis   RT  4.585000e+06   2.33
14          Adam Butler   DT  3.750000e+06   1.90
15        Jason Sanders    K  3.392800e+06   1.72
16       Austin Jackson   LT  3.100079e+06   1.57
18        Cethan Carter   TE  2.700000e+06   1.37
26      Elandon Roberts  OLB  2.145000e+06   1.09
28          Robert Hunt    G  1.833123e+06   0.93
30           Matt Skura    C  1.750000e+06   0.89
33      Michael Palardy    P  1.100000e+06   0.56
44          Adam Pankey    T  9.250000e+05   0.47
50         Sam Eguavoen   LB  8.500000e+05   0.43
60          Nate Holley    S  7.800000e+05   0.40

In [55]:
df.groupby(['Pos.', 'Cap Hit']).sum().reset_index()

   Pos.     Cap Hit  Cap %
0     C    130882.0   0.07
1     C    780000.0   0.40
2     C    987500.0   0.50
3     C   1750000.0   0.89
4    CB    660000.0   0.99
..  ...         ...    ...
66   WR   2883333.0   1.46
67   WR   4661754.0   2.36
68   WR   5192157.0   2.63
69   WR  10566776.0   5.36
70   WR  12086754.0   6.13

[71 rows x 3 columns]